<div mat-dialog-title>Formulaire Etudiant</div>
<form [formGroup]="studentFom" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <br/>
        <div style="padding-top: 10;">
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Ex. Moussa" formControlName="name">
            </mat-form-field>
        </div>
        <div style="padding-top: 10;">
            <mat-form-field appearance="outline">
                <mat-label>Adresse mail</mat-label>
                <input matInput placeholder="Ex. mouss@gamil.com" formControlName="email">
            </mat-form-field>
        </div>
        <div style="padding-top: 10;">
            <mat-form-field appearance="outline">
                <mat-label>Âge</mat-label>
                <input matInput placeholder="Ex. 23" formControlName="age">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Modifier' : 'Sauver'}}</button>
    </div>
</form>
